<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="You.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <You.Properties.Settings>
            <setting name="ProgressCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScoreCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NowWeekDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CountGoodHoursInWeek" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentWeek" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CountGoodHoursInMonth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentMonth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FamUser" serializeAs="String">
                <value />
            </setting>
            <setting name="NameUser" serializeAs="String">
                <value />
            </setting>
            <setting name="PathPhotoUser" serializeAs="String">
                <value />
            </setting>
        </You.Properties.Settings>
    </userSettings>
</configuration>